<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/wolfray.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Wolfray </h3>
    <ul>
      <li> Two Factor Authentication with TOTP & HMAC </li>
    </ul>
    <p>Wolfray 2FA is an app to provide Two Factor Authentication for wolfray.io which is an extra layer security between  applications, remote collaborators and potential cyber threats. </p>
    <a class="project-link" href="https://wolfray.io/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/wolfray.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> KEOHÄLSA App </h3>
    <ul>
      <li> an Ergonomic app for the workers in a firm to keep their health stay fit by doing excercises and track the same.</li>
    </ul>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
