<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="wolfray.io" src="{{ "/assets/img/wolfray.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Wolfray 2FA </h3>
    <ul>
      <li> Two Factor Authentication App with TOTP & HMAC </li>
    </ul>
    <p>Wolfray 2FA is an app built with React Native to provide Two Factor Authentication for the users of wolfray.io which is an extra layer security between  applications, remote collaborators and potential cyber threats. </p>
    <a class="project-link" href="https://wolfray.io/app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="keohalsa.se" src="{{ "/assets/img/keohalsa.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> KEOHÄLSA Ergonomic </h3>
    <ul>
      <li>Fitness App</li>
    </ul>
    <p> an Ergonomic app for the workers in an organisation to keep their health stay fit by making them do excercises and tracking the same.</p>
    <a class="project-link" href="http://keohalsa.se">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="partlyjobs.com" src="{{ "/assets/img/partly.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Partly Jobs </h3>
    <ul>
      <li> Job Portal App </li>
    </ul>
    <p>Partly is a mobile application that connects trusted service providers with on-demand job opportunities delivered by local community.</p>
   <div>
     <img alt="partlyjobs.com" src="{{ "/assets/img/en_app-store-badge.png" | prepend: site.baseurl }}" />
     <img alt="partlyjobs.com" src="{{ "/assets/img/en_google-play-badge.png" | prepend: site.baseurl }}" />
    
   </div>
  </div>
</div>
